snippet docstringsimple "simple js docstring" 
/**
 * $1
 */
endsnippet


snippet docstringlong "More complex js docstring" 
/**
 * $1
 *
 * @param 
 * @returns {undefined}
 */
endsnippet
	
snippet tsscaffold "basic vue ts scaffolding"
<template>
<div>$1</div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
$2
})
</script>

endsnippet
		
